[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name=MixCtl
Terminal=false
Type=Application
Keywords=audio;mixer;pipewire;sound;
StartupWMClass=MixCtl
